@import "~bootstrap/scss/bootstrap";
/* @import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables"; 
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/utilities"; */

$primary-color: brown;
*{color: $primary-color;}
a{color:green;}
body{font-family: Arial, Helvetica, sans-serif; padding-top: 54px;}
.box1{background-color: $primary-color; width: 100px; height: 100px; border-radius: 5px;
    
}


